2026-07-10T08:00:00.000Z gw=edge-eu-west-1 request_id=c700d84c-6dd1-ab79-c2a7-64c319613698 srcip=203.0.113.45 method=GET path=/api/v2/orders/48291/items status=200 bytes_out=11746 dur_ms=72 upstream=orders-svc.prod.svc:8443 cache=MISS tls=TLSv1.3 region=eu-west-1 ua="Mozilla/5.0 (iPhone; CPU iPhone OS 17_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.5 Mobile/15E148 Safari/604.1"
2026-07-10T08:00:13.137Z gw=edge-eu-west-1 request_id=cbf15150-edb7-0f02-c2b9-32b2c29f12fb srcip=198.51.100.212 method=POST path=/api/v2/orders status=200 bytes_out=3170 dur_ms=576 upstream=orders-svc.prod.svc:8443 cache=MISS tls=TLSv1.3 region=eu-west-1 ua="python-requests/2.32.3" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81 geo=GB
2026-07-10T08:00:26.274Z gw=edge-eu-west-1 request_id=855cdff8-987f-6bd7-e638-24d0388fdce3 srcip=203.0.113.9 method=GET path=/api/v2/catalog/products?page=3&size=50 status=200 bytes_out=4450 dur_ms=292 upstream=catalog-svc.prod.svc:8443 cache=MISS tls=TLSv1.3 region=eu-west-1 ua="okhttp/4.12.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:00:39.411Z gw=edge-eu-west-1 request_id=7f51c46e-8f0f-5c28-38b1-7690b8d90a1b srcip=192.0.2.184 method=GET path=/api/v1/customers/93012/preferences status=201 bytes_out=14818 dur_ms=560 upstream=customers-svc.prod.svc:8443 cache=MISS tls=TLSv1.3 region=eu-west-1 ua="curl/8.5.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:01:52.548Z gw=edge-eu-west-1 request_id=6bced784-1b38-f9e2-b800-8a299cffeb71 srcip=198.51.100.34 method=PUT path=/api/v2/basket/662014/items/9 status=200 bytes_out=22889 dur_ms=693 upstream=basket-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="okhttp/4.12.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:01:05.685Z gw=edge-eu-west-1 request_id=7bad1f68-ca1e-e6f5-662e-69198996cb6e srcip=203.0.113.170 method=GET path=/api/v2/inventory/eu/stock-levels status=200 bytes_out=18961 dur_ms=661 upstream=inventory-svc.prod.svc:8443 cache=MISS tls=TLSv1.3 region=eu-west-1 ua="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"
2026-07-10T08:01:18.822Z gw=edge-eu-west-1 request_id=58bc15e5-0e4b-3a88-7198-3485032c273f srcip=192.0.2.77 method=DELETE path=/api/v2/basket/662014/items/4 status=204 bytes_out=19107 dur_ms=338 upstream=basket-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="PostmanRuntime/7.39.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:01:31.959Z gw=edge-eu-west-1 request_id=db1ed801-083f-ccec-d6bc-2c8d98061e2b srcip=198.51.100.101 method=GET path=/api/v2/orders/48291/status status=200 bytes_out=10380 dur_ms=767 upstream=orders-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="Mozilla/5.0 (X11; Linux x86_64; rv:127.0) Gecko/20100101 Firefox/127.0" proto=HTTP/2.0 xff=10.24.8.101
2026-07-10T08:02:44.096Z gw=edge-eu-west-1 request_id=85132c85-f659-f559-71f2-14b6571d9d6a srcip=203.0.113.45 method=POST path=/api/v1/auth/token/refresh status=200 bytes_out=23385 dur_ms=793 upstream=auth-svc.prod.svc:8443 cache=HIT tls=TLSv1.3 region=eu-west-1 ua="Mozilla/5.0 (iPhone; CPU iPhone OS 17_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.5 Mobile/15E148 Safari/604.1"
2026-07-10T08:02:57.233Z gw=edge-eu-west-1 request_id=2e21172d-030c-7cc3-fece-bd3713dd0cb9 srcip=198.51.100.212 method=GET path=/api/v2/catalog/products/SKU-88213 status=404 bytes_out=17303 dur_ms=497 upstream=catalog-svc.prod.svc:8443 cache=HIT tls=TLSv1.3 region=eu-west-1 ua="python-requests/2.32.3" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:02:10.370Z gw=edge-eu-west-1 request_id=abc703cc-9a9e-db47-d29b-88c93f3a2987 srcip=203.0.113.9 method=GET path=/api/v2/recommendations?customer=93012 status=200 bytes_out=2905 dur_ms=428 upstream=recs-svc.prod.svc:8443 cache=MISS tls=TLSv1.3 region=eu-west-1 ua="okhttp/4.12.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:02:23.507Z gw=edge-eu-west-1 request_id=5dee8521-40ec-07e0-6a08-a8f02d6f314d srcip=192.0.2.184 method=PATCH path=/api/v2/customers/93012/address status=200 bytes_out=14667 dur_ms=416 upstream=customers-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="curl/8.5.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:03:36.644Z gw=edge-eu-west-1 request_id=56a65d64-2890-2512-6747-9b06354eb312 srcip=198.51.100.34 method=GET path=/api/v2/orders/48291/items status=200 bytes_out=1155 dur_ms=360 upstream=orders-svc.prod.svc:8443 cache=MISS tls=TLSv1.3 region=eu-west-1 ua="okhttp/4.12.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81 geo=GB
2026-07-10T08:03:49.781Z gw=edge-eu-west-1 request_id=e7d0a5d1-7deb-c3fd-414e-d1e3b02f8573 srcip=203.0.113.170 method=POST path=/api/v2/orders status=401 bytes_out=23957 dur_ms=785 upstream=orders-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"
2026-07-10T08:03:02.918Z gw=edge-eu-west-1 request_id=83fa7ba6-0175-3d40-4107-6c1708ee8dfe srcip=192.0.2.77 method=GET path=/api/v2/catalog/products?page=3&size=50 status=200 bytes_out=14252 dur_ms=700 upstream=catalog-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="PostmanRuntime/7.39.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:03:15.055Z gw=edge-eu-west-1 request_id=1a90074b-c32d-4d0a-e08e-f724ef33fc0d srcip=198.51.100.101 method=GET path=/api/v1/customers/93012/preferences status=200 bytes_out=16125 dur_ms=544 upstream=customers-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="Mozilla/5.0 (X11; Linux x86_64; rv:127.0) Gecko/20100101 Firefox/127.0" proto=HTTP/2.0
2026-07-10T08:04:28.192Z gw=edge-eu-west-1 request_id=5d65b94b-bac3-63f4-8bb0-bbf3594437e3 srcip=203.0.113.45 method=PUT path=/api/v2/basket/662014/items/9 status=500 bytes_out=18538 dur_ms=183 upstream=basket-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="okhttp/4.12.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:04:41.329Z gw=edge-eu-west-1 request_id=7b37823b-e888-a29c-6d4c-cd0d30d6ca32 srcip=198.51.100.212 method=GET path=/api/v2/inventory/eu/stock-levels status=200 bytes_out=3263 dur_ms=369 upstream=inventory-svc.prod.svc:8443 cache=MISS tls=TLSv1.3 region=eu-west-1 ua="python-requests/2.32.3" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:04:54.466Z gw=edge-eu-west-1 request_id=64db6bb9-a45b-c562-6505-19afb5853817 srcip=203.0.113.9 method=DELETE path=/api/v2/basket/662014/items/4 status=302 bytes_out=22353 dur_ms=233 upstream=basket-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="okhttp/4.12.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81
2026-07-10T08:04:07.603Z gw=edge-eu-west-1 request_id=08c56871-5503-36d4-19ea-3d81c705bfe8 srcip=192.0.2.184 method=GET path=/api/v2/orders/48291/status status=200 bytes_out=14812 dur_ms=632 upstream=orders-svc.prod.svc:8443 cache=BYPASS tls=TLSv1.3 region=eu-west-1 ua="curl/8.5.0" proto=HTTP/2.0 xff=10.24.8.101 client_id=mobile-app-eu apikey_id=ak_9f3b2c81 geo=GB
